# Python virtual environment
.venv/

# Build directories
build/
dist/

# Python cache files
__pycache__/
*.pyc

# IDE configurations
.idea/
.vscode/

# Specification files
*.spec

# Database files
sensor_data.db